.input-container{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40%;
    max-width: 70%;
    background-color: #FBFDF7;
    border-radius: 10px;
    padding: 5vw;
}

.font-medium-headlines-profile{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 24px;
    text-align: left;
    width: 100%;
    border-radius: 10px;
}

.profile-pic{
    max-width: 100%;
    width: 35%;
    border-radius: 50%;
    ;}

.image-text{
   display: inline-block    ;}   
   
.menu-bottom-container-window-element-container{
    height: auto;
    width: 100%;
}