<div class="complete-view">
    <app-header></app-header>
    <div class="input-container">  
        <div class="profile-settings-icon-placement">  
        <div class="font-headlines">Profil</div>
        <img src="assets/icons/profile/settings-icon.png"/>    
    </div>
        <div class="image-text">
            <div class="font-medium-headlines-profile" >Hej *navn*</div>
            <img class="profile-pic" src="assets/pictures/profile-pic-frood.webp"/>      
        </div>
    </div>
</div>
