<div class="complete-view">
    <app-header></app-header>
    <div class="input-container">  
        <div class="font-headlines">Profil</div>
        <div class="menu-bottom-container-window-element-container">
            <img class="menu-bottom-container-window-element" src="assets/icons/profile/settings-icon.png"/>

        </div>
    </div>
    <div class="image-text"></div>
        <div class="font-medium-headlines-profile" >Hej *navn*
        <img class="profile-pic" src="assets/pictures/profile-pic-frood.webp"/>
    </div>
</div>
