<div class="complete-view">
    <app-header [title]="'Madbod'"></app-header>
    <div class="input-container">
        <div class="input-field">
            <div class="font-headlines">Anmodninger</div>

            <div class="button-area">
                <button mat-raised-button color="accent" (click)="sellfoodButtonClick()">Sæt mad til salg</button>
            </div>


            <ng-container *ngIf="HasActiveItems() == true">
                <div class="font-medium-headlines">Til salg!</div>
            </ng-container>
            <div *ngIf="foodstand !== undefined">
                <div *ngFor="let productGrownItem of foodstand.productsFoodGrown; let i = index">
                    <div *ngIf="productGrownItem.amount > 0">
                        <app-foodstand-product-grown-item
                            [grownItem]="productGrownItem"></app-foodstand-product-grown-item>
                    </div>
                </div>
            </div>



            <div *ngIf="HasEmptyItems() == false">
                <div class="font-medium-headlines">Udsolgt!</div>
            </div>
            <div *ngIf="foodstand !== undefined">
                <div *ngFor="let productGrownItem of foodstand.productsFoodGrown; let i = index">
                    <div *ngIf="productGrownItem.amount == 0">
                        <app-foodstand-product-grown-item-soldout
                            [grownItem]="productGrownItem"></app-foodstand-product-grown-item-soldout>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>