<app-header [title]="'Kort'"></app-header>
<div class="map-container">
    <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">

        <map-marker
        *ngFor="let x of foodstands"
        [position]="x.location.latLon"
        [options]="markerOptions"
        (mapClick)="MarkerClick()"
        >
        </map-marker>
    </google-map>
</div>

<section class="search-container">
    <form>
        <input type="text" placeholder="Filtrer produkter">
        <button mat-raised-button color="accent" type="button">Søg</button>
    </form>
</section>

<div class="menu-bottom-container">
    <div class="menu-bottom-container-window">
            <button (click)="basketiconButtonClick()">
                <img class="menu-bottom-container-window-element" src="assets/icons/menu/booth-menu.png" />
            </button>
    </div>
</div>

<app-modal id="map-selection">
skjold er en nar


</app-modal>