@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.input-container {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    max-width: 80%;
    background-color: #FBFDF7;
    padding: 5vw;
    animation: fadein 1s linear 1 forwards;

}

.container-foodstands {
    background-color: #FBFDF7;
}

.font-description-italic {
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    font-style: italic;
    color: #E7948E;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.foodstand-container {
    width: 100%;
    height: 40vh;
}

.foodstand-image {
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.delete-image {
    height: 6vh;
    width: auto;
}

.edit-image {
    height: 5vh;
    width: auto;
    float: right;
}

.font-plus {
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 43px;
    text-align: center;
}

.growntype-container-images {
    height: 30%;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: min(-33vh);
    margin-left: auto;
    margin-right: auto;
}

.growntype-image {
    height: 80%;
    width: auto;
}

.location-font-medium-text {
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 18px;
    text-align: center;
}

.buttonarea {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.mdc-button {
    width: 250px;
    min-width: 40vw;
    max-width: 80vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #FBFDF7;
    z-index: 0;
}