<div class="font-medium-text-vege">{{GetRelatedName(grownItem)}}</div>
<div class="font-medium-text-vege">{{grownItem.amount}} {{grownItem.unit}}</div>
<img class="basket-animations" [src]="GetRelatedImage(grownItem)" />
<div class="font-medium-text-tags">{{grownItem.tags}}</div>
<div class="button-area">
    <button mat-raised-button color="accent" (click)="AnnounceSold()">Meld udsolgt</button>
</div>
<img class="dashed-line" src="assets/food-animations/dashed-line.png" />

<div class="container-content-title">

</div>