.top-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.sticker-area{
    height: 52vh;
    width: auto;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.20));

}

.sticker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.buttonarea{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    height: 22vh;
}

.button{
    text-align: center;
    width: 100%;
}

.mdc-button {
    width:250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}

a:link {
    color: #E7948E;
    background-color: transparent;
  }
  
  a:visited {
    color: #E7948E;
  }