<div class="complete-view">
    <div class="top-banner-with-logo">
        <img class="top-logo" src="assets/logo/froodbannerlogo.png"/>
    </div>

    <div class="sticker-area">
            <img class="sticker" src="assets/utils/klistermærke.svg"/>
    </div>
    <div class="loginbuttonarea">
        <div class="loginbutton">
            <button mat-raised-button color="accent" 
        (click)="loginButtonClick()">Log Ind</button>
        </div>
        <div class="loginbutton plaintext">
        eller <a href="signup">Sign up</a>
        </div>
    </div>
</div>
