<div class="top-banner">
    <img class="top-logo" src="assets/logo/froodbannerlogo.png"/>
</div>

<div class="velkommen-ven"> Velkommen
</div>

<div class="velkommen-ven"> ven!
</div>

<div class="login-box-container"> 
    <div class="login-box"> 
        <form class="input-form">
            <mat-form-field class="input-full-width">
              <mat-label>Brugernavn</mat-label>
              <input matInput placeholder="Ditnavn@mail.com" value="">
            </mat-form-field>
          
            <mat-form-field class="input-full-width">
              <mat-label>Password</mat-label>
              <textarea matInput placeholder="*********"></textarea>
            </mat-form-field>
          </form>
    </div>
</div>