<div class="input-field">
    
    <div class="font-headlines" *ngFor="let foodstand of foodstands">{{foodstand.name | slice: 0:15}}

        <div class="location-font-medium-text">
            {{foodstand.location.streetName}}
            {{foodstand.location.streetNumber}},
            <br>
            {{foodstand.location.zipCode}}
            {{foodstand.location.city}}
        </div>

    </div>

    <div *ngFor="let product of foodstand.productsFoodGrown | slice:0:2">
        <img class="growntype-image" [src]="GetRelatedImage(product)">
    </div>
    
</div>
