<div class="complete-view">
    <app-header [title]="'Madboder'"></app-header>
    <br>
    <div class="top-icons">
        <img src="assets/icons/new-foodstand.png" (click)="CreatefoodstandButtonClick()">
        <img src="assets/icons/profile-icon.png" (click)="ProfileButtonClick()">
    </div>
    <img class="dashed-line" src="assets/food-animations/dashed-line.png" />

<br>
    <div class="input-container container-grid" *ngFor="let foodstand of foodstands">
        <app-foodstandoverviewitem [(foodstands)]="foodstands" [foodstand]="foodstand"></app-foodstandoverviewitem>
        <br>
        <img class="dashed-line" src="assets/food-animations/dashed-line.png" />

    </div>

    <div class="menu-bottom-container">
        <div class="menu-bottom-container-window">
            <button class="menubutton" (click)="StartingpageButtonClick()">
                <img class="menu-bottom-container-window-element" src="assets/icons/menu/pin-menu.png" />
            </button>
        </div>
    </div>

</div>