@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

.input-container{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40%;
    max-width: 80%;
    background-color: #FBFDF7;
    padding: 5vw;
}

.font-medium-headlines-foodstand{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 24px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    padding-top: 7%;
}

.font-description-italic {
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    font-style: italic;
    color: #E7948E;
    font-size: 16px;
    text-align: center;
}

.foodstand-container{
    width: 100%;
    height: 30vh;
}

.foodstand-image{
    display: block;
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.font-plus{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 43px;
    text-align: center;
}

.growntype-container-images{
    display: flex;
    align-items: center; 
    height: 25%;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: min(-20vh, 80px); 
    position: relative;
}

.growntype-image{
    max-width: 70%;
    max-height: 70%;
    min-width: 50%;
    min-height: 50%;
}


.mdc-button {
    width:250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}
