.input-container-createfoodstand {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    max-width: 80%;
    background-color: #FBFDF7;
    border-radius: 10px;
    padding: 5vw;
}

.map-view {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    border-radius: 10%
}

.toggle-placing {
    text-align: right;
}

.toggle-text {
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    font-size: 20px;
    color: #9F9F9F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7%;
}

.mdc-button {
    width: 250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}

.icon-image {
    height: 8vh;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
