<div class="complete-view">
    <app-header [title]="'Redigér'"></app-header>
    <div class="input-container-createfoodstand">
        <div class="font-medium-headlines">Hvad skal din madbod hedde?</div>
        <br>
        <br>
        <mat-form-field class="input-field">
            <mat-label>Navn</mat-label>
            <input matInput placeholder="Input placeholder" [(ngModel)]="temporaryFoodstand.name">
        </mat-form-field>
        <div class="font-medium-headlines">Beskrivelse af madboden</div>
        <br>
        <br>
        <mat-form-field class="input-field">
            <mat-label>Beskrivelse</mat-label>
            <textarea matInput [(ngModel)]="temporaryFoodstand.description"></textarea>
        </mat-form-field>

        <div class="font-medium-headlines">Madbodens placering</div>
        <div class="input-field">
            <section class="toggle-text"> Brug min placering
                <mat-checkbox class="checkbox-margin" (change)="UseMyAddress()"></mat-checkbox>
            </section>
        </div>
    </div>
    <div *ngIf="useMyAddress==false" class="map-view">
        <google-map height="25vh" width="90%" [zoom]="zoom" [center]="center" [options]="options">
            <map-marker *ngFor="let marker of markers" [position]="marker.position"></map-marker>
        </google-map>
    </div>

    <div *ngIf="useMyAddress==false" class="input-container-createfoodstand">
        <mat-form-field class="input-field">
            <mat-label>Vejnavn, nr</mat-label>
            <input matInput placeholder=""
                value="{{temporaryFoodstand.location.streetName}} {{temporaryFoodstand.location.streetNumber}}">
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>By</mat-label>
            <input matInput placeholder="" value="{{temporaryFoodstand.location.city}}">
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Postnummer</mat-label>
            <input matInput placeholder="" value="{{temporaryFoodstand.location.zipCode}}">
        </mat-form-field>
    </div>
    <div class="input-container-createfoodstand">
        <div class="font-medium-headlines">Betalingsmuligheder</div>
        <div class="toggle-text input-field">Mobilepay <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="toggle-text input-field">Kontant <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="toggle-text input-field">Vis mobil nr. <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="buttonarea">
            <button mat-raised-button color="accent" (click)="saveChangesButtonClick()">Gem ændringer</button>
        </div>

    </div>
    <div class="icon-image">
        <img src="assets/icons/trashcan-image.png" alt="" (click)="DeleteFoodstand()">
        <img src="assets/icons/deactivate.png" alt="" (click)="DeleteFoodstand()">
    </div>
    <app-modal [id]="foodstand.name">
        <app-popup-delete [(foodstands)]="foodstands" [foodstand]="foodstand"></app-popup-delete>
    </app-modal>

</div>