<div class="complete-view">
    <app-header-with-logo></app-header-with-logo>

    <div class="font-headlines"> Velkommen
    </div>

    <div class="font-headlines"> ven!
    </div>

    <div class="login-box-container">
        <mat-form-field class="input-field">
            <mat-label>Brugernavn</mat-label>
            <input matInput placeholder="Ditnavn@mail.com" value="">
        </mat-form-field>

        <mat-form-field class="input-field">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="plaintext signup-text">
        Ikke medlem? <a href="signup">Sign up</a>
    </div>
    <div class="buttonarea">
        <button mat-raised-button color="accent" (click)="loginButtonClick()">Log Ind</button>
    </div>
</div>