<div class="top-banner">
    <img class="top-logo" src="assets/logo/froodbannerlogo.png"/>
</div>

<div class="complete-view">
    <div class="velkommen-ven"> Velkommen
    </div>

    <div class="velkommen-ven"> ven!
    </div>

    <div class="login-box-container"> 
        <mat-form-field class="input-field">
            <mat-label>Brugernavn</mat-label>
            <input matInput placeholder="Ditnavn@mail.com" value="">
        </mat-form-field>
        
        <mat-form-field class="input-field">
            <mat-label>Password</mat-label>
            <input matInput placeholder="*********" value="">
        </mat-form-field>
    </div>
    <div class="plaintext signup-text">
        Ikke medlem? <a href="signup">Sign up</a>
    </div>
</div>