.top-banner {
    display: flex;
    justify-content: center;
    background-image: url(/assets/banner/topbanner.png);
    background-repeat: repeat;
    height: 143px;
    width: 100vw;
  }
  
.top-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.sticker-area{
    height: 60vh;
    min-height: 60vh;
    width: 100vw;
    min-width: 100vw;
}

.sticker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.loginbuttonarea{
    justify-content: center;
    display:flex;
    height:20vh;
}

.loginbutton{
    background-size: 100% 100%;
    text-align: center;
    width: 500px;
    max-width: 40vw;
    min-width: 300px;
    height: 10vh;
}

.mdc-button {
    width:250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}
.bottom-banner{
    bottom:0px;
    height: 100px;
    max-height: 10%;
    width: 100%;
}
.bottom-logo{
    background-image: url(/assets/logo/FROOD.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
    height: 20px;
    width: 65px;
    max-height: 100%;
    max-width: 100%;
}