.signup-input-container{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.assignbutton{
    text-align: center;
    width: 70%;
    padding: 2%;
    
}
.mdc-button {
    width:250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}