/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

body{
    margin: 0
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.complete-view{
    background-color: #FBFDF7;
    /*background-color: #a9ea27;*/
    width: 100vw;
    min-height: 100vh;
}

.plaintext {
    color: #9F9F9F ;
}  

.font-headlines{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 38px;
    text-align: center;
}

.font-medium-headlines{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.font-medium-text{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    color: #E7948E;
    font-size: 16px;
    text-align: left;
}

.input-field {
    width: 100%;
    border-radius: 10px;
 }
