<div class="complete-view">
    <app-header></app-header>
    <div class="font-headlines"> Sælg mad </div> 
    <div class="sellfood-input-container">
    
    <mat-form-field class="input-field">
        <mat-label>Æble, pære</mat-label>
        <mat-select [formControl]="foodControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let food of foods" [value]="food">
            {{food.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="foodControl.hasError('required')">Vælg en vare</mat-error>
    </mat-form-field>

    <mat-form-field class="input-field">
        <mat-label>Antal</mat-label>
        <input matInput placeholder="kg. eller stk." value="">
    </mat-form-field>
    
    <div class="font-medium-headlines"> Hvor kan det findes? </div>
       
    <section class="sellfood-text"> Brug min adresse
        <mat-checkbox class="checkbox-margin"></mat-checkbox>
    </section>
    </div>
    
    <div class="map-view">
        <google-map 
            height="25vh" 
            width="90%" 
            [zoom]="zoom" 
            [center]="center" 
            [options]="options">
            <map-marker *ngFor="let marker of markers"
            [position]="marker.position"></map-marker>
        </google-map>
    </div>
    
    <div class="sellfood-input-container">
        <div class="input-field">
        <div class="sellfood-text">Mobilepay <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="sellfood-text">Kontant <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="sellfood-text">Vis mobil nr. <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
        <div class="sellfood-text">Gratis <mat-slide-toggle class="toggle-placing"></mat-slide-toggle>
        </div>
    </div> 
    
    <section class="sellfood-text">
        <mat-checkbox class="checkbox-margin">24 t</mat-checkbox>
    </section>
    
    <section class="sellfood-text">
        <mat-checkbox class="checkbox-margin"> 48 t</mat-checkbox> 
    </section>
    
    <section class="sellfood-text">
        <mat-checkbox class="checkbox-margin">72 t</mat-checkbox>
    </section>
    
    <div class="input-field">
        <div class="sharefood-buttonarea">
                <button mat-raised-button color="accent" 
            (click)="uploadimageButtonClick()">Upload billede</button>
        </div>
        <mat-form-field class="input-field">
            <mat-label>Kommentarer</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        chips her!
        <div class="sharefood-buttonarea">
            <button mat-raised-button color="accent" 
            (click)="sharefoodButtonClick()">Del mad</button>
        </div>
    </div>
</div>