.sellfood-input-container{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 40%;
    max-width: 90%;
    border-radius: 10px;
    padding: 7%;
} 

.map-view{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin-left: 10vw;   
    /*border-radius: 20%;*/
}

.sellfood-text{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    font-size: 20px;
    color: #9F9F9F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7%;
}

.toggle-placing{
    text-align: right;
}

.radiobutton-container{
    padding-top: 5%;
    padding-bottom: 10%;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    width: 90%;
}

.radiobutton-hours-text{
    font-family: url(/assets/font/static/Montserrat-Regular.ttf);
    font-weight: 100;
    font-size: 20px;
    color: #9F9F9F;
    flex-wrap: wrap;
}

.radiobutton-container-element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sharefood-buttonarea{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    height: 10vh;    
}

.mdc-button {
    width:250px;
    min-width: 40vw;
    max-width: 80vw;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #E7948E;
    --mdc-protected-button-label-text-color: #fff;
}