.top-banner-with-logo {
    display: flex;
    justify-content: center;
    background-image: url(/assets/banner/top-banner-logo.png);
    background-repeat: repeat-x;
    height: 18vh;
    width: 100%;
    background-size: contain;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.20));
}  

.top-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 33%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}