@import url('https://fonts.cdnfonts.com/css/coiny');

.top-banner-with-logo {
    display: flex;
    justify-content: center;
    background-image: url(/assets/banner/top-banner-logo.png);
    background-repeat: repeat-x;
    height: 18.7vh;
    width: 100%;
    background-size: contain;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.20));
}  

.coiny-style-frood{   
    color: #B6D9C9;
    font-family: Coiny;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -5px;
    -webkit-text-stroke-color: #FBFDF7;
    -webkit-text-stroke-width: 2px;
    text-align: center;
    margin-bottom: min(2vh, 80px); /* IMPORATANT, IF CHANGES OCCUR IN WINDOW MARGIN, ADD HERE. REGULAR IS -15. ADD ON THE MARGIN FROM WINDOW*/
    border: none;
    position: relative;
    border-radius: 50px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.20));

}